/*Website Container*/body{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/*Header Class*/
.header{
    background-color: rgb(44, 29, 138);
    padding: 15px;
    margin: 10px auto;
    width: 95vw;
    box-shadow: 2.5px 2.5px 5px gray;
}

/*Header Class: p element rules*/
.header p{
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: left;
}

/*Header Class: h1 element rules*/
.header h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
}

.Web-body{
    background-color: snow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: 0 auto;
}

/*Detail Class*/
[class*="detail-"]{
    color: black;
    margin: 5px 5px 5px 0px;
    padding: 1.5px;
}

.detail-body{
    display: flex;
    flex-direction: column;
    width: 75%;
}

/*Detail Class: Large Title*/
.detail-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    background-color: rgb(44, 29, 138);
    color: white;
    box-shadow: 2.5px 2.5px 5px gray;
}

/*Detail Class: Setting Section (ie Education, Job, ...)*/
.detail-setting-container{
    display: flex;
    flex-direction: column;
}

/*Detail Class: Section Container*/
.detail-flex-container{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    box-shadow: 2.5px 2.5px 5px gray;
}

/*Detail Class: Section Title*/
.detail-flex-title{
    font-size: 4vw;
}

.detail-parent{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}

.detail-date{
    color: white;
    outline-color: black;
    background-color:  rgb(44, 29, 138);
    width: fit-content;
    font-size: 1.5vw;
    align-self: flex-end;
    margin: 0px 2.5px;
    border-radius: 3px;
}

.detail-child{
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
}

.detail-label-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2vw;
    align-self: flex-start;
}

[class*="label-"]{
    color: white;
    outline-color: black;
    width: fit-content;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

.label-red{
    background-color: red;
}

.label-green{
    background-color: rgb(45, 190, 45);
}

.label-purple{
    background-color: purple;
}

.label-blue{
    background-color: rgb(0, 119, 255);
}

img{
    height: auto;
    width: 80%;
    margin: 10px 5px;
    box-shadow: 2.5px 2.5px 5px gray;
}

[class*="menu-"]{
    color: black;
    margin: 5px;
}

.menu-body{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0px;
}

.menu-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    background-color: rgb(44, 29, 138);
    color: white;
    text-align: center;
    box-shadow: 2.5px 2.5px 5px gray;
}

.menu-list-container{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    box-shadow: 2.5px 2.5px 5px gray;
    align-items: center;
}

.skill{
    color: white;
    font-size: 2vw;
    border-radius: 5px;
    padding: 3px;
    margin: 2.5px auto;
    text-align: center;
}

.skill.active::after {
    content: '✓';
    margin-right: 0.5rem;
}

.skill:hover{
    cursor: pointer;
    color: black;
    filter: invert(.0001);
}

.red-skill{
    background-color: red;
}

.blue-skill{
    background-color: rgb(0, 119, 255);
}

.green-skill{
    background-color: rgb(45, 190, 45);
}

.purple-skill{
    background-color: purple;
}

.pic-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.prev, .next {
    cursor: pointer;
    width: 10%;
    color: black;
    font-weight: bold;
    transition: 0.6s ease;
    font-size: 25px;
    border-radius: 3px 0 0 3px;
    user-select: none;
  }

  .next {
    border-radius: 0 3px 3px 0;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .pic{
    justify-content: center;
  }

  .pic-hide{
    display: none;
  }

  .pic-active{
    display: flex;
  }