/*Website Container*/
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/*Header Class*/
.header{
    background-color: rgb(44, 29, 138);
    padding: 15px;
    margin: 10px auto;
    width: 75vw;
    box-shadow: 2.5px 2.5px 5px gray;
}

/*Header Class: p element rules*/
.header p{
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: left;
}

/*Header Class: h1 element rules*/
.header h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
}

.Web-body{
    background-color: snow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: 0 auto;
}

/*Detail Class*/
[class*="detail-"]{
    color: black;
    margin: 5px 5px 5px 0px;
    padding: 1.5px;
}

.detail-body{
    display: flex;
    flex-direction: column;
    width: 56.25vw;
}

/*Detail Class: Large Title*/
.detail-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    background-color: rgb(44, 29, 138);
    color: white;
    box-shadow: 2.5px 2.5px 5px gray;
}

/*Detail Class: Setting Section (ie Education, Job, ...)*/
.detail-setting-container{
    display: flex;
    flex-direction: column;
}

/*Detail Class: Section Container*/
.detail-flex-container{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    box-shadow: 2.5px 2.5px 5px gray;
}

/*Detail Class: Section Title*/
.detail-flex-title{
    font-size: 4vw;
}

.detail-parent{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}

.detail-date{
    color: white;
    outline-color: black;
    background-color:  rgb(44, 29, 138);
    width: fit-content;
    font-size: 1.5vw;
    align-self: flex-end;
    margin: 0px;
}

.detail-child{
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
}

.detail-label-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5vw;
    align-self: flex-start;
}

[class*="label-"]{
    color: black;
    outline-color: black;
    width: fit-content;
    margin: 2px;
    padding: 2px;
}

.label-red{
    background-color: red;
}

.label-green{
    background-color: greenyellow;-*
}

.label-purple{
    background-color: purple;
}

.label-blue{
    background-color: blue;
    color: white;
}

img{
    display: flex;
    width: 18vw;
    height: auto;
    margin: 10px 5px;
    box-shadow: 2.5px 2.5px 5px gray;
}

[class*="menu-"]{
    color: black;
    margin: 5px;
}

.menu-body{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px 0px;
}

.menu-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    background-color: rgb(44, 29, 138);
    color: white;
    text-align: center;
    box-shadow: 2.5px 2.5px 5px gray;
}

.menu-list-container{
    background-color: lightgray;
    display: flex;
    align-items: center;
    box-shadow: 2.5px 2.5px 5px gray;
}

.menu-list-container ul{
    list-style-type: none;
}

.skill{
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

.skill.active::before {
    content: '✓';
    margin-left: 0.5rem;
  }

.red-skill{
    background-color: red;
}

.blue-skill{
    background-color: blue;
}

.green-skill{
    background-color: greenyellow;
}

.purple-skill{
    background-color: purple;
}