/*Website Container*/
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Header Class*/
.header{
    background-color: rgb(44, 29, 138);
    padding: 15px;
    margin: 0 auto;
    width: 100%;
}

/*Header Class: p element rules*/
.header p{
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vw;
    text-align: left;
}

/*Header Class: h1 element rules*/
.header h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
}

.Web-body{
    background-color: snow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*Detail Class*/
[class*="detail-"]{
    color: black;
    margin: 5px 0px;
}

.detail-body{
    display: flex;
    flex-direction: column;
    width: 75%;
}

/*Detail Class: Large Title*/
.detail-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    background-color: rgb(44, 29, 138);
    color: white;
}

/*Detail Class: Section Container*/
.detail-flex-container{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

/*Detail Class: Section Title*/
.detail-flex-title{
    font-size: 4vw;
}

.detail-parent{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
}

.detail-date{
    color: white;
    outline-color: black;
    background-color:  rgb(44, 29, 138);
    width: fit-content;
    font-size: 1.5vw;
    align-self: flex-end;
    margin: 0px;
}

.detail-child{
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
}

.detail-label-container{
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5vw;
    align-self: flex-end;
    margin: 0px;
}

[class*="label-"]{
    color: black;
    outline-color: black;
    width: fit-content;
}

.label-red{
    background-color: red;
}

.label-green{
    background-color: greenyellow;
}

[class*="menu-"]{
    color: black;
    margin: 5px;
}

.menu-body{
    display: flex;
    flex-direction: column;
    width: 25%;
}